﻿@using Assign1.Models
@model List<Assign1.Models.ApplicationUser>

@{
    ViewBag.Title = "GetUsers";
}

<h2>GetUsers</h2>

<p>
    @Html.ActionLink("Create New", "RegisterOnly")
</p>
<table class="table">
    <tr>
        <td>
            Name
        </td>
        <td>
            Admin Status
        </td>
        <td>
            Email
        </td>
        <td>
            Username
        </td>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAdmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditUser", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteConfirmed", new { id=item.Id }) |
            @Html.ActionLink("Records", "Index", "Record", new { id = item.Id }, null)
        </td>
    </tr>
}

</table>
