﻿@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<script type="text/javascript" src="../../Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="../../Scripts/moment.js"></script>
<script type="text/javascript" src="../../Scripts/bootstrap-datetimepicker.js" charset="UTF-8"></script>

@using (Html.BeginForm())
{
    <div>@Html.Label("Login name")</div>
    <div>@Html.TextBox("Username")</div>
    <div>@Html.Label("Password")</div>
    <div>@Html.Password("Password")</div>
    <input type ="submit" value ="Login"/>
}


<script type="text/javascript">
</script>



