﻿@using SDAssignOne.ViewModels
@model UserViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>



@using (Html.BeginForm("AddUser", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IdUser, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdUser, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IdUser, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsAdmin, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsAdmin, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.IsAdmin, "", new {@class = "text-danger"})
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "GetUsers", "User")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
var model = { "Id": "xx", "Name": "Ravi" };
    function checkForm(form) {
        if (this.name.value == "") {
            alert("Please enter your Name in the form");
            this.name.focus();
            return false;
        }
        if (this.email.value == "" || !this.valid_email.checked) {
            alert("Please enter a valid Email address");
            this.email.focus();
            return false;
        }
        if (this.age.value == "" || !this.valid_age.checked) {
            alert("Please enter an Age between 16 and 100");
            this.age.focus();
            return false;
        }
        alert("Success!  The form has been completed, validated and is ready to be submitted...");
        return false;
    }

    document.getElementById('textbox_id').value
    var source = {
        'Name': name,
        'Marks': marks,
        'Subjects': subjects
    }

    $.ajax({
        url: 'Save/',
        type: "POST",
        data: model,
        success: function (res) {
            if (res != null) {
                alert("done.");
            }
        },
        error: function (res) {

        }
    });



</script>
