﻿@using SDAssignOne.ViewModels
@model List<UserViewModel>
@{
    ViewBag.Title = "User Interface";
}

<p>
    <div>@Html.ActionLink("Create New", "AddUser")
</div>
</p>
@using (Html.BeginForm("GetUsers", "User", FormMethod.Get))
{
    <table class="table">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAdmin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditUser", new {id = item.IdUser}) |
                    @Html.ActionLink("Delete", "DeleteUser", new {id = item.IdUser})
                </td>
            </tr>
        }

    </table>
    <br/>
}