﻿@model List<Assign1.Models.ClientViewModel>
@{
    ViewBag.Title = "User Interface";
}

<p>
    <div>
        @Html.ActionLink("Create New", "AddClient")
</div>
</p>
@using (Html.BeginForm("GetClients", "Client", FormMethod.Get))
{
    <table class="table">
        <tr>
            <td>
                SSC
            </td>
            <td>
                Name
            </td>
            <td>
                Identity Card
            </td>
            <td>
                Operations
            </td>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SSC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdentityCard)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditClient", new { id = item.SSC }) |
                    @Html.ActionLink("Delete", "DeleteClient", new { id = item.SSC }) |
                    @Html.ActionLink("ViewAccounts", "GetAllClientAccounts", new { id = item.SSC })

                </td>
            </tr>
        }

    </table>
    <br />
}