﻿@model SDAssignOne.Models.UserCredentialsInputModel

<h2>User Login</h2>

@using (Html.BeginForm("UserCredentials", "Home", FormMethod.Get, Html.ValidationMessageFor(m => m.UserId)))
{
    Html.ValidationSummary(true);
    <div class="editor-label">
        @Html.LabelFor(m => m.UserId)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.UserId)
        @Html.ValidationMessageFor(m => m.UserId)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.Password)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <button type="submit">Log in</button>
}

<script type="text/javascript">
    window.onload = function() {
        if (window.jQuery) {
            // jQuery is loaded
            alert("Yeah!");
        } else {
            // jQuery is not loaded
            alert("Doesn't Work");
        }
    }
</script>