﻿@model Assign1.Models.RecordViewModelSearch

@{
    ViewBag.Title = "Index";
}

<h2>Records</h2>

@using (Ajax.BeginForm("SearchRecords", new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <div>
        @Html.DropDownListFor(model => model.UserNames, new SelectList(Model.UserNames), "Choose User")
    </div>
    <div>
        <input type="text" id="datetime1" data-format="MM / DD / YYYY h:mm a" data-template="MM / DD / YYYY hh : mm a" name="StartDateTime" value="@Model.StartDateTime">
    </div>

    <div>
        <input type="text" id="datetime2" data-format="MM / DD / YYYY h:mm a" data-template="MM / DD / YYYY hh : mm a" name="EndDateTime" value="@Model.EndDateTime">
    </div>
    <p>
        <input type="submit" value="Filter" />
    </p>
}



    <script type='text/javascript'>
        $(function () {
            $('#datetime1').combodate();
            $('#datetime2').combodate();
        });
    </script>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RecordViewModels.FirstOrDefault().UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordViewModels.FirstOrDefault().AccountSender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordViewModels.FirstOrDefault().Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordViewModels.FirstOrDefault().Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordViewModels.FirstOrDefault().AccountRecipient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordViewModels.FirstOrDefault().Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.RecordViewModels) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountSender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountRecipient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
    </tr>
}

</table>
