﻿@using System.Activities.Expressions
@using AssignmentTwo.Services
@model AssignmentTwo.Models.ArticlePageViewModel

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
@{ ViewBag.ArticleId = Model.Article.ArticleId;}
@using (Html.BeginForm("FlagArticle", "Article", FormMethod.Post))
{
    @Html.HiddenFor(modelItem => modelItem.Article.ArticleId)

    <div>
        @Html.DisplayFor(modelItem => modelItem.Article.Title)
        @Html.HiddenFor(modelItem => modelItem.Article.Title)
    </div>
    <div>
        @Html.DisplayFor(modelItem => modelItem.Article.Content)
        @Html.HiddenFor(modelItem => modelItem.Article.Content)
    </div>
    <div>
        Writer @Html.DisplayFor(modelItem => modelItem.Article.Writer)
        @Html.HiddenFor(modelItem => modelItem.Article.Writer)
    </div>
    <div>
        Flagged status
        @Html.DisplayFor(modelItem => modelItem.Article.IsFlagged)
        @Html.HiddenFor(modelItem => modelItem.Article.IsFlagged)
    </div>
    if (Model.Comments != null)
    {
        foreach (var item in Model.Comments)
        {
            <div>
                @Html.HiddenFor(modelItem => item.CommentId)
                <td>
                    Commenter @Html.DisplayFor(modelItem => item.CommenterId)
                    @Html.HiddenFor(modelItem => item.CommenterId)
                </td>
                <td>
                    Comment @Html.DisplayFor(modelItem => item.Content)
                    @Html.HiddenFor(modelItem => item.Content)
                </td>
                    <div id ="@item.CommentId">
                        <button id="buttonId" class="buttonclass" type="button">Reply</button>
                        <input id="textboxId" class="textboxClass" type="text">
                        <button id="buttonId" class="flagComment" type="button">Flag</button>
                        <button id="buttonId" class="deleteComment" type="button">Delete</button>
                    </div>

                    @*Reply @Html.EditorFor(modelItem => Model.ReplyComment.Content, new {id = "replyId"})
                    @Html.ValidationMessageFor(modelItem => Model.ReplyComment.Content)
                    @{
                        var content = Model.ReplyComment.Content ?? "";
                    }*@
                    @*@Html.ActionLink("Reply", "ReplyToComment", new {id = item.CommentId, content = content})*@
                    @*<script>
                        var content = "No text in reply, duh!";
                        debugger;
                        var text = "@Html.ActionLink("Reply", "ReplyToComment", new { id = item.CommentId, content = "JSVAR" })";
                        text = text.replace("JSVAR", document.getElementById("replyId").html);
                    </script>*@

                @*@using (Ajax.BeginForm("ReplyToComment", "Article", new AjaxOptions { UpdateTargetId = "result" }))
                {
                    <p>
                        Comment
                        @Html.EditorFor(model => model.NewComment.Content)
                        @Html.ValidationMessageFor(model => model.NewComment.Content, "", new { @class = "text-danger" })

                        <input type="submit" value="Post" />
                    </p>
                }*@

            </div>
        }

    }

    <input type="submit" value="Flag for innapropriate" />

}


    @*@using (Html.BeginForm("PostComment", "Article", FormMethod.Post))
    {
        <p>
                Comment
                        @Html.EditorFor(model => model.NewComment.Content)
                        @Html.ValidationMessageFor(model => model.NewComment.Content, "", new {@class = "text-danger"})

            <input type="submit" value="Post" />
        </p>
    }*@


@using (Html.BeginForm("ShareArticle", "Article", FormMethod.Post))
{
    <p>
        <input type="submit" value="Share Article" />
    </p>
}





@*@using (Html.BeginForm("PostComment", "Article", FormMethod.Post))
{
    <p>
        Comment
        @Html.EditorFor(model => model.NewComment.Content)
        @Html.ValidationMessageFor(model => model.NewComment.Content, "", new { @class = "text-danger" })

        <input type="submit" value="Post" />
    </p>
}*@


@using (Ajax.BeginForm("PostComment", "Article", new AjaxOptions { UpdateTargetId = "result" }))
{
    <p>
        Comment
        @Html.EditorFor(model => model.NewComment.Content)
        @Html.ValidationMessageFor(model => model.NewComment.Content, "", new { @class = "text-danger" })

        <input type="submit" value="Post" />
    </p>
}

<div id="CommentReplyToId"></div>

<script>
    $(document)
        .ready(function() {

            $('.buttonclass')
                .click(function() {
                    debugger;
                    //alert("Reply " + this.parentElement.getAttribute("id"));
                    window.location.href = "/Article/ReplyToComment/" + this.parentElement.getAttribute("id") +this.nextElementSibling.value;
                });
            $('.flagComment')
                .click(function () {
                    debugger;
                    //alert("Flag " + this.parentElement.getAttribute("id"));
                    window.location.href = "/Article/FlagComment/" + this.parentElement.getAttribute("id");
                });
            $('.deleteComment')
                .click(function () {
                    debugger;
                    //alert("Delete " + this.parentElement.getAttribute("id"));
                    window.location.href = "/Article/DeleteComment/" + this.parentElement.getAttribute("id");
                    //$.ajax({
                    //    url: "/Article/DeleteComment/" + this.parentElement.getAttribute("id"),
                    //    success: function (data) {
                    //        alert("success");
                    //        //       alert(data.Result.UserName);
                    //    },
                    //    traditional: true
                    //});
                });

            //var myEl = document.getElementById('buttonId');

            //myEl.addEventListener('click', function () {
            //    alert("bueno " + this.parent.id);
            //}, false);
        });
</script>