﻿@model List<Assign1.Models.BankAccountViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Create New", "AddBankAccount", "BankAccount")


<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().IdAccount)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DateOfCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Interest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().sscClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Fee)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdAccount)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sscClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fee)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditBankAccount", "BankAccount", new { id = item.IdAccount }, null) |
            @Html.ActionLink("Delete", "DeleteBankAccount", "BankAccount", new {id = item.IdAccount}, null) |
            @Html.ActionLink("Transfer", "TransferMoney", "BankAccount", new { id = item.IdAccount }, null) | 
            @Html.ActionLink("Create New", "AddBankAccount", "BankAccount", new { id = item.sscClient}, null)
        </td>
    </tr>
}

</table>
