﻿@model IEnumerable<AssignmentTwo.Models.Consultation>

<h3>Consulations</h3>
<p>
    @Html.ActionLink("Create New", "AddConsultation")
</p>

<p>
    @Html.ActionLink("Check in patient", "CheckInPatient")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ConsulationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientPNC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diagnostic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ConsulationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientPNC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diagnostic)
        </td>
        <td>
            @{
                var startDate = item.StartDateTime.ToString();
                var endDate = item.EndDateTime.ToString();
            }
            @Html.DisplayFor(modelItem => startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => endDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditConsultation", new {id = item.ConsulationId}) |
            @Html.ActionLink("Delete", "DeleteConsultation", new {id = item.ConsulationId})
        </td>
    </tr>
}

</table>
