﻿@model IEnumerable<AssignmentTwo.Models.Patient>


<h2>Patients</h2>

<p>
    @Html.ActionLink("Add Patient", "AddPatient")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PNC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdentityCardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PNC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdentityCardNumber)
        </td>
        <td>
            @{var date = item.DateOfBirth.ToShortDateString();}
            @Html.DisplayFor(modelItem => date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditPatient", new { id=item.PNC }) |
            @Html.ActionLink("Delete", "DeletePatient", new { id=item.PNC })
        </td>
    </tr>
}

</table>
